<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piggie.mapper.ComboMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into setmeal(category_id,name,price,status,description,image, create_time,create_user,update_time,update_user)
        values(#{categoryId},#{name},#{price},#{status},#{description},#{image},#{createTime},#{createUser},#{updateTime},#{updateUser})
    </insert>

    <select id="pageQuery" resultType="com.piggie.entity.Setmeal">
        select * from setmeal
        <where>
            <if test="categoryId != null">category_id=#{categoryId}</if>
            <if test="name != null and name != ''">and name like concat('%',#{name},'%')</if>
            <if test="status != null">and status=#{status}</if>
        </where>
    </select>

    <select id="getComboVoById" resultType="com.piggie.vo.SetmealVO">
        select s.*,c.name as categoryName from setmeal s left outer join category c on s.category_id = c.id where s.id=#{id}
    </select>

    <update id="update">
        update setmeal
        <set>
            <if test="categoryId != null">category_id=#{categoryId}</if>
            <if test="name != null and name != ''">,name=#{name}</if>
            <if test="price != null">,price=#{price}</if>
            <if test="status != null">,status=#{status}</if>
            <if test="description != null and description != ''">,description=#{description}</if>
            <if test="image != null and image != ''">,image=#{image}</if>
            <if test="updateUser != null">,update_user=#{updateUser}</if>
            <if test="updateTime != null">,update_time=#{updateTime}</if>
        </set>
        where id=#{id}
    </update>

    <delete id="deleteByIds">
        delete from setmeal where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>